.created {
  font-family: "Times New Roman", Times, serif;
  margin: auto;
  padding: auto;
  display: block;
  background-color: #3498db7a;
  border-radius: 5px;
}
.ce-wrapper {
  margin-left: -60px !important;
}

.created input {
  padding: 5px;
  margin: 10px;
  margin-left: 15px;
  margin-left: 0;
  background-color: rgb(238, 227, 227);
  color: rgb(19, 18, 18);
  width: 210px;
  border-radius: 3px;
}

.created button {
  border: 1px solid rgb(217, 217, 230);
  border-radius: 5px;
  padding: 5px;
  color: rgb(224, 224, 235);
  font-size: 15px;
}

.created button:hover {
  background-color: rgb(76, 76, 228);
}

.ce-chat-feed-container {
  overflow: hidden auto !important;
  background-color: #ebe5e5 !important;
}
.ce-feed-container-top {
  background-color: ivory !important;
  height: 40px !important;
}
.ce-feed-container-top p {
  text-align: center;
  color: black;
}
.SettingTop {
  color: white;
  padding-top: 55px;
  padding-bottom: 7px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  border: 0px solid white;
  width: 100%;
}
.ce-chats-container,
.ce-settings {
  background-color: #3498db !important;
  overflow: hidden auto !important;
}

.created {
  margin-left: 10px;
}

.ce-chat-list {
  overflow: hidden auto !important;
}

.ce-chats-container {
  border-radius: 0 !important;
}

.ce-chat-card-loading {
  border-radius: 10px;
  background-color: rgb(226, 226, 226);
  height: 50px;
  display: inline-block;
  margin-bottom: 8px;
  width: 50%;
}

.ce-wrapper {
  margin-bottom: 70rem !important;
  margin-left: 1rem !important;
}

.ce-chat-engine {
  height: 10rem !important;
}

.ce-chat-title-container {
  background-color: #3498db7a !important;
}
