.created{
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    padding: 20px;
    display: block;
    background-color: rgb(79, 79, 184);
    border-radius: 5px;

}
.created input{
    padding: 5px;
    margin: 10px;
    margin-left: 0;
    background-color: rgb(238, 227, 227);
    color: rgb(19, 18, 18);
    width: 270px;
    border-radius: 3px;

}
.created button{
    border: 1px solid rgb(217, 217, 230);
    border-radius: 5px;
    padding: 10px;
    color: rgb(224, 224, 235);
    font-size: 20px;
    font-weight: bold;
}
.created button:hover{
    background-color: rgb(76, 76, 228);
}

.ce-chats-container ,.ce-settings{
    background-color: rgb(52, 52, 247) !important;
}