.about-us-section {
  display: flex;
  flex-wrap: wrap;
  /* margin-bottom: 20px; */
}

.image-div {
  flex: 40%;
}

.image-div img {
  max-width: 100%;
  margin-top: var(--margin-primary);
}

.text-div {
  flex: 1 60%;
  padding: 0 20px;
  /* margin-top: 170px; */
}

.text-div h3 {
  /* font-size: 24px; */
  margin-bottom: 10px;
}

.text-div p {
  font-size: 18px;
  line-height: 1.5;
}

h4 {
  padding: 15px;
}

/* .Services {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.Services span {
  font-size: 20px;
  font-weight: 600;
  background: #fff;
  padding: 0 10px;
} */

/* .about-div {
  margin-top: -200px;
} */



/* .ext {
  width: 500px;
  height: 500px;
  border: 1px solid red;
  color: blue;
  background-color: rgba(23, 30, 220, 0.849);
}

.int {
  color: white;
}

.ext:hover .int {
  background-color: blue;
  color: white;
}

.ext:hover {
  background-color: blue;
  color: white;
} */

.ext {
  padding: 35px;
  color: blue;
  background-color: rgba(30, 136, 229, 0.345);
  position: relative;
  transition: top 0.3s;
}

.int {
  color: rgb(0, 0, 0);
}

.iiicon {
  color: blue;
}



.ext:hover .int .iiicon,
.ext:hover .int .tiitle,
.ext:hover .int .detaile {
  color: white;

}


.ext:hover {
  color: white;
  top: -12px;
  background-color: rgba(49, 218, 99, 0.849);
}









/* ///////////////////////////////////////////////////////////// */

/* ////////// photos ///////// */

.parent {
  width: max-content;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1.3fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  margin-bottom: 50px;
}

.parent div {
  background-color: aquamarine;
}

.one {
  grid-column: 1 / 3;
}

.two {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

@media (max-width: 768px) {

  /* Adjust the grid template columns and rows for smaller screens */
  .parent {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .one,
  .two {
    grid-column: 1 / 2;
    grid-row: auto;
  }

}