/* .cybrog-navbar {
  min-height: 110px;
}

.nav-link {
  color: var(--color-primary);
}

.nav-link :hover {
  color: green;
}

.nameofschool {
  font-size: x-large;
  font-weight: var(--color-primary);
  color: var(--color-primary);
} */
