.section-wrapper {
  background-color: var(--color-darkest);
  border-radius: var(--border-radius-primary);
  margin-top: calc(var(--margin-primary) / 4);
  padding: calc(var(--padding-primary) / 4);
}
